	/*
  	Flaticon icon font: Flaticon
  	Creation date: 28/05/2016 09:22
  	*/

@font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  font-family: Flaticon;
        font-size: 20px;
font-style: normal;
margin-left: 20px;
}

.flaticon-cell-phone:before { content: "\f100"; }
.flaticon-code:before { content: "\f101"; }
.flaticon-drupal-logo:before { content: "\f102"; }
.flaticon-facebook-logotype-button:before { content: "\f103"; }
.flaticon-high-volume:before { content: "\f104"; }
.flaticon-internet:before { content: "\f105"; }
.flaticon-internet-1:before { content: "\f106"; }
.flaticon-joomla-logo:before { content: "\f107"; }
.flaticon-landscape-representing-photo-archive:before { content: "\f108"; }
.flaticon-light-bulb:before { content: "\f109"; }
.flaticon-link-symbol:before { content: "\f10a"; }
.flaticon-magnifying-glass:before { content: "\f10b"; }
.flaticon-photo-camera:before { content: "\f10c"; }
.flaticon-responsive-symbol-with-a-widescreen-monitor-a-cellphone-and-a-tablet:before { content: "\f10d"; }
.flaticon-send-symbol:before { content: "\f10e"; }
.flaticon-shopping-bag:before { content: "\f10f"; }
.flaticon-sign-in:before { content: "\f110"; }
.flaticon-twitter-logo:before { content: "\f111"; }
.flaticon-wallet:before { content: "\f112"; }
.flaticon-web-development:before { content: "\f113"; }
.flaticon-wordpress-logo:before { content: "\f114"; }